<h1>Eat-Da-Burgers!</h1>

<ol>
  {{#each burger}}
  	<li>
  	   <p>Name: {{this.name}}</p>
    </li>
  {{/each}}
</ol>

  

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="devour">Devour It</label><br>
    <input type="checkbox" name="devour" value="1" checked> Eaten!<br>
    <input type="checkbox" name="devour" value="0"> Not Eaten
  </div>

  <button type="submit">Submit</button>

  <div>
     <h3>Enter a burger you want to eat Click the "Submit" button.</h3>
  </div>
</form>
