<div class="container">

  <div class="jumbotron">
    <h1>Eat-Da-Burgers!</h1>
    <h2>Add a burger</h2>
      <form class="create-form">

        <div class="form-group">
          <label for="createBurger">Burger Name:</label>
          <input type="text" id="createBurger" name="burger">
          <button type="submit" class="btn btn-danger" id="addBurger"></button>
        </div>

      </form>
        <div>
          <h3>Enter a burger you want to eat Click the "Submit" button.</h3>
        </div>  {{!-- this is the div for closing h3 submit text --}}


  </div> {{!-- this is the div for closing jumbotron --}}
</div> {{!-- this is the div for closing container --}}






<script>
  $("#createBurger").on("submit", function (event) {
    alert("you clicked the button")
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    // [name=burger] will find an element with a "name" attribute equal to the string "burger"
    var newBurger = {
      burger: $("#createburger [name=burger]").val().trim()
    };

    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function () {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  })
</script>