<div class="container">

  <div class="jumbotron">
    <h1 class="display-4">Eat-Da-Burgers!</h1>
    <h2>Add a burger</h2>
      <form class="create-form">

        <div class="form-group">
          <label for="createBurger">Burger Name:</label>
          <input type="text" id="createBurger" name="burger">
          <button type="button" class="btn btn-primary" id="nameBurger">Submit</button>
        </div>
  </div> {{!-- this is the div for closing jumbotron --}}

      </form>
        <div>
          <h3>Enter a burger you want to eat Click the "Submit" button.</h3>
        </div>  {{!-- this is the div for closing h3 submit text --}}
  <div class = "row">
    <div class = "col-sm-6">
      <div class = "panel">
        <div class = "panel-heading" id="leftside">Order the Burger</div>
        <div class = "panel-body">
          <h3>add your order here</h3>
        </div>
      </div>
    </div>
    <div class = "col-sm-6">
      <div class = "panel">
        <div class = "panel-heading" id="rightside">Devour the Burger</div>
        <div class = "panel-body">
          <h3></h3>
        </div>
      </div>
    </div>

  </div>   {{!--this is the div for closing end of row --}}
</div> {{!-- this is the div for closing container --}}






<script>

  $(function () {
    $("#createBurger").on("submit", function (event) {
      alert("you clicked the button")
      // Make sure to preventDefault on a submit event.
      event.preventDefault();

      // nameBurger will find an element with a "name" attribute equal to the string "burger"
      var nameBurger = {
        burger_name: $("#nameBurger").val().trim()devoured: 0
      };
    })
    $.ajax("/api/burgers", {
      type: "POST",
      data: nameBurger
    }).then(
      function () {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );

    $(".eatBurger").on("click", function (event) {
      event.preventDefault();

      //change devoured to true
      var id = $(this).data("id");
      var devouredNow = {
        devoured: 1
      };

      // Reload the page to get the updated list
      $.ajax("/api/burgers", {
        type: "PUT",
        data: devouredNow
      }).then(
        function () {
          console.log("Burger is devoured");
          location.reload();
        });
    });

    $(".deleteBurger").on("click", function (event) {
      event.preventDefault();

      //change devoured to delete
      var id = $(this).data("id");
      
      // Reload the page to delete burger
      $.ajax({
        type: "DELETE",
        url: "/api/burgers/" + id
      }).then(location.reload());
    });

  });  //ends function

</script>