.jumbotron {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 0;
    background-color: rgb(147, 218, 32);
}
 
.display-4 {
    margin-bottom: 0;
}

.solid {
    border-style: solid;
}

#leftside {
    background-color: yellow;
    color: black;
    text-align: center;
}

#rightside {
    background-color: cyan;
    color: black;
    text-align: center;
}