.jumbotron {
   
    margin: auto;
    text-align: center;
    margin-top: 0;
    background-color: rgb(147, 218, 32);
}

.solid {
    border-style: solid;
}

#leftside {
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 7px;
    margin-right: -15px;
    
}

#rightside {
    background-color: cyan;
    color: black;
    text-align: center;
    padding: 7px;
    margin-left: -15px;
}

.eatBurger {
    text-align: left;
}

ul {
    padding: 20px;
}